<div id="HEADER">
	<div style="float:left">
	<a href="HashingToolHelp.html"><img style="vertical-align:middle" alt="VECTO-Logo" src="images/VECTO_Hashing-small.png"></a>
	<a href="HashingToolHelp.html">User Manual</a>
	</div>
	<div style="text-align: right">
	<a href="https://ec.europa.eu/jrc/" target="_blank"><img style="border: 0px solid; height: 40px;" alt="JRC-Logo" src="images/EuropeanCommission.jpg" hspace="5"></a>
	<!-- <a href="http://www.ivt.tugraz.at/" target="_blank"><img src="images/IVT.png" alt="IVT-Logo" style="border: 0px solid; width: 74px; height: 36px;" hspace="5"></a>
	<a href="http://portal.tugraz.at/pls/portal/url/page/TU_Graz" target="_blank"><img src="images/TUG.png" alt="TUG-Logo" style="border: 0px solid; width: 96px; height: 36px;" hspace="5"></a> -->
	</div>
</div>
<div id="CONTENT">
</div>